<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.findandfix.workshop">
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".ui.Application.MyApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:authorities="${applicationId}.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name=".ui.activity.Testing"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.WorkshopProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".model.ConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.WorkingDayActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.WorkshopProfileImagesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.OffersDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.RestPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.ForgetPasswordCodeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.ForgetPasswordMobileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.MyAdvertisementActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>


        <activity android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode = "singleInstance"
            android:screenOrientation="portrait"/>


        <activity android:name=".ui.activity.NormalRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
           />

        <activity android:name=".ui.activity.InProgressRequestDetail"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.FirstStepRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>


        <activity android:name=".ui.activity.FinalStepRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode = "singleInstance"
            android:screenOrientation="portrait"/>



        <activity android:name=".ui.activity.ThirdStepRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode = "singleInstance"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.UrgentRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>



        <activity android:name=".ui.activity.AddAdvertisement"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.RequestDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.AddAdvertismentDescription"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.AddAdvertismentCountry"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.AddAdvertismentRange"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.AdvertismentPublished"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.EditProfileInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SecondStepRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode = "singleInstance"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.AddAdvertisementImage"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>


         <activity android:name=".ui.activity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
    <activity android:name=".ui.activity.ThemePreferenceActivity"
        android:screenOrientation="portrait"/>
    <activity android:name=".ui.activity.MyConversationsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".ui.activity.PlayingVideoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.AddAchievmentTitleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.SocialNetworkActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode = "singleInstance"
            android:screenOrientation="portrait"/>



        <activity android:name=".ui.activity.AddAchievmentDescriptionActivity"
    android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.MoreCompletedUrgentRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.AddAchievmentBeforeFixing"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.AddAchievmentAfterFixing"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.MoreCompletedNormalRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>


        <service android:name=".notification.FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".notification.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxKbKgFAx-YrXFENITGa-UO_XLPGKhdlk"
             />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>