<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dp.dell.workshopmodule">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:name="com.dp.dell.workshopmodule.view.ui.Application.MyApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.Testing"
            android:screenOrientation="portrait"/>

        <receiver
            android:name="com.dp.dell.workshopmodule.model.ConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.WorkingDayActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>



        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.OffersDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.RestPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.ForgetPasswordCodeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.ForgetPasswordMobileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.MyAdvertisementActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>


        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode = "singleInstance"
            android:screenOrientation="portrait"/>


        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.NormalRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
           />

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.InProgressRequestDetail"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.FirstStepRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>


        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.FinalStepRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode = "singleInstance"
            android:screenOrientation="portrait"/>



        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.ThirdStepRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode = "singleInstance"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.UrgentRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>



        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.AddAdvertisement"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.RequestDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.AddAdvertismentDescription"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.AddAdvertismentCountry"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.AddAdvertismentRange"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.AdvertismentPublished"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.EditProfileInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.SecondStepRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode = "singleInstance"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.AddAdvertisementImage"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>


         <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar"
             android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
    <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.ThemePreferenceActivity"
        android:screenOrientation="portrait"/>
    <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.MyConversationsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.PlayingVideoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.AddAchievmentTitleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.SocialNetworkActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode = "singleInstance"
            android:screenOrientation="portrait"/>



        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.AddAchievmentDescriptionActivity"
    android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.MoreCompletedUrgentRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.AddAchievmentBeforeFixing"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.AddAchievmentAfterFixing"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.dp.dell.workshopmodule.view.ui.activity.MoreCompletedNormalRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>


        <service android:name="com.dp.dell.workshopmodule.notification.FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.dp.dell.workshopmodule.notification.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD85pFzYeV3sad6u_9cRPxIlpZXDBvLzzs"
             />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>